<div class="card">
  <img class="w-100 h-fixed-300 object-fit-cover" src="{{ post.image }}" />
  <div class="card-body">
    <h4 title="{{ post.name }}">{{ post.name | truncate : 20 }}</h4>
    <p>{{ post.description | truncate : 70 }}</p>
    <p>
      Autore:
      <a [routerLink]="['/author', post.userId]">{{ post.userName }}</a>
    </p>
    <span
      [ngClass]="{ 'text-success': post.active, 'text-danger': !post.active }"
      >{{ post.active ? "Attivo" : "Inattivo" }}</span
    >
  </div>
</div>
